
.parent{
	-fx-background-color:whitesmoke;
}
.pane{
	-fx-background-color: #0066FF;
	
	
}
.signIn-button{
	-fx-border-radius:5px;
	-fx-background-color: transparent;
	-fx-text-fill:white;
	-fx-border-color:#cccccc;
	-fx-border-width:2px;
	
}

.inscription-window{
-fx-background-image: url("/images/bck.jpg");
-fx-background-size: cover;
}

.pink-buttom{
-fx-background-color: #C4314F;
-fx-border-radius:10px;


}
.transperant-button{
-fx-background-color: transparent;
-fx-text-fill: #000000;
}
